<div id="panel">
    <div class="settings">
        <div #steps class="stepContent">
            <label class="text">Step 1 <mat-icon (click)="toolTipClick(1)">announcement</mat-icon></label>
            <label class="info">Spoiler chooses one state and predicate</label>
            <div class="selectionContent">
                <mat-button-toggle-group class="selection" [disabled]="disabled1" #selectedState="matButtonToggleGroup" aria-label="Selected Predicate">
                    <mat-button-toggle class="selectionItem" [checked]="true" [value]="x">{{x}}</mat-button-toggle>
                    <mat-button-toggle class="selectionItem" [checked]="false" [value]="y">{{y}}</mat-button-toggle>
                </mat-button-toggle-group>
                <div>
                    <span>$p_1 = $</span>
                    <span class="states">{{selStatesString[0]}}</span>
                </div>
            </div>
        </div>
        <hr >
        <div #steps class="stepContent">
            <label class="text">Step 2 <mat-icon (click)="toolTipClick(2)">announcement</mat-icon></label>
            <label class="info">Duplicator answers based on the other state such that $Fp_1 (ts(s)) <=^F Fp_2 (ts(t))$ <mat-icon (click)="toolTipClick(0)">announcement</mat-icon> holds</label>
            <div class="selectionContent">
                <div>
                    <span>$p_2 = $</span>
                    <span class="states">{{selStatesString[1]}}</span>
                </div>
            </div>
        </div>
        <hr >
        <div #steps class="stepContent">
            <label class="text">Step 3 <mat-icon (click)="toolTipClick(3)">announcement</mat-icon></label>
            <label class="info">Spoiler chooses $p_i$ and some $x'$ s.t. $p_i(x')=1$:</label>
            <div class="selectionContent">
                <mat-button-toggle-group class="selection" [disabled]="disabled2" #selectedPred="matButtonToggleGroup" aria-label="Selected Predicate">
                    <mat-button-toggle class="selectionItem" [checked]="true" value="0">p1</mat-button-toggle>
                    <mat-button-toggle class="selectionItem" [checked]="false" value="1">p2</mat-button-toggle>
                </mat-button-toggle-group>
                <div>
                    <span>$x' = $</span>
                    <span class="states">{{selStatesString[2]}}</span>
                </div>
            </div>
        </div>
        <hr >
        <div #steps class="stepContent">
            <label class="text">Step 4 <mat-icon (click)="toolTipClick(4)">announcement</mat-icon></label>
            <label class="info">Duplicator chooses some $y'$ s.t. $p_j(y')=1$ and $i \neq j$</label>
            <div class="selectionContent">
                <div>
                    <span>$y' = $</span>
                    <span class="states">{{selStatesString[3]}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <app-start [click]="resetClick" [disabled]=resetDisabled [text]="'⭯'"></app-start>
        <app-start [click]="backClick" [disabled]=backDisabled [text]="'⭰'"></app-start>
        <app-start [click]="startClick" [disabled]=startDisabled [text]="'GO'"></app-start>
    </div>
</div>