#drawGraphTitle{
    font-size: 4vw;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 2vw;
/*     position: absolute;
    top: 10vw;
    left: 50%;
    transform: translateX(-50%); */
}

#content{
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
}

#paper{
    margin-left: 2vw;
    min-width: 1110;
    min-height: 555;
    border: 2px solid black;
    background-color: white;
    opacity: 0.8;
}