<div id="panel">
    <div class="settings">
        <div class="settingsContent" *ngIf="progress.selectedStateView == null"></div>
        <div *ngIf="progress.selectedStateView && progress.isStateWindow" class="settingsContent">
                <!-- For later use, renaming states not available right now -->
                <!-- <mat-form-field class="option" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input type="number" matInput required [ngModel]="progress.selectedItem.name" (ngModelChange)="setStateName($event)" #stateName="ngModel">
                        <mat-error *ngIf="stateName.hasError('required')">
                        Name is <strong>required</strong>
                        </mat-error>
                </mat-form-field> -->
                <div *ngIf="progress.stateValidator[0] != '^$'" class="valueRow">
                    <mat-form-field class="option" appearance="fill">
                            <mat-label>Value</mat-label>
                            <input type="text" matInput [pattern]="progress.stateValidator[0]" [ngModel]="progress.selectedItem.value" (ngModelChange)="setStateValue($event)" #stateValue="ngModel">
                            <mat-error *ngIf="stateValue.hasError('pattern')">
                            {{progress.stateValidator[1]}}
                            </mat-error>
                    </mat-form-field>
                    <mat-icon (click)="valueInfoClick(progress.stateValidator[2])">announcement</mat-icon>
                </div>
        </div>
        <div *ngIf="progress.selectedStateView && !progress.isStateWindow" class="settingsContent">
            <mat-form-field class="option" appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput required [ngModel]="progress.selectedItem.name" (ngModelChange)="setLinkName($event)" #linkName="ngModel">
                <mat-error *ngIf="linkName.hasError('required')">
                Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <hr>
            <div *ngIf="progress.linkValidator[0] != '^$'">
                <div *ngFor="let x of progress.selectedLabelArray; index as i; last as last; first as first">
                    <ng-template #linkValues></ng-template>
                    <div class="valueRow">
                        <mat-form-field class="option" appearance="fill">
                            <mat-label>Value for {{x}}</mat-label>
                            <input type="text" matInput [pattern]="progress.linkValidator[0]" [ngModel]="progress.selectedItem.value[i]" (ngModelChange)="setLinkValue($event,i)" #linkValue="ngModel">
                            <mat-error *ngIf="linkValue.hasError('pattern')">
                            {{progress.linkValidator[1]}}
                            </mat-error>
                        </mat-form-field>
                        <mat-icon *ngIf="first" (click)="valueInfoClick(progress.linkValidator[2])">announcement</mat-icon>
                    </div>
                    <hr *ngIf="!last" >
                </div>
            </div>
        </div>
        <hr >
        <div class="fileArea">
            <div class="fileArea">
                    <input id="fileSelector" type="file" accept=".txt" style="display: none;" (change)="load($event)">
                    <label class="file" for="fileSelector">Load</label>
                    <label class="file" (click)="saveAsJson()">Save</label>
            </div>
        </div>
    </div>
    <div class="buttons">
        <app-start [click]="goBack" [text]="'⭰'"></app-start>
        <app-start [click]="startClick" [text]="'START'"></app-start>
    </div>
