<body>
  <div *ngIf="(progress.appProgress < 2); else content" class="main">
    <div class="title">
      {{title | uppercase}}
    </div>
    <div class="bottomInfo" [ngSwitch]="progress.appProgress">
      <div *ngSwitchCase="0" id="loading">
        Loading ...
      </div>
      <app-start [text]="'START'" *ngSwitchCase="1"></app-start>
    </div>
  </div>
  <ng-template #content>
    <app-functor *ngIf="(progress.appProgress == 2)"></app-functor>
    <app-draw-graph *ngIf="(progress.appProgress > 2)"></app-draw-graph>
  </ng-template>
</body>
