#drawGraphTitle{
    font-size: 4vw;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 2vw;
/*     position: absolute;
    top: 10vw;
    left: 50%;
    transform: translateX(-50%); */
}

.settings{

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Orbitron', sans-serif;
    font-weight: bold;

    height: 25vw;
    width: 100%;
    border: 2px solid black;
    background-color: white;
    opacity: 1;
    padding-top: 50px;
}

#panel{
    width: 20vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}




#pair{
    margin: 1vw;
    font-size: 3vw;
}

#swap{
    display: flex;
    align-items: center;
    margin: 1vw;
    font-size: 0.8vw;
    height: 2vw;
    font-family: 'Orbitron', sans-serif;;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 0.1s;
}

#swap:hover{
    background-color: black;
    color: white;
}

.selection{
    margin-top: 1vw;
    font-weight: normal;
    height: 2vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: 2px solid black;
}

.selectionItem{
    font-size: 0.9vw;
    font-family: 'Orbitron', sans-serif;
}

.text{
    font-size: 1vw;
}

.states{
    margin-top: 3vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    width: 7vw;
    color: white;
    background-color: black;
}

.mat-button-toggle-appearance-standard {
    color: black;
    width: 7vw;
    padding: 2px;
}

::ng-deep .mat-button-toggle-button {
    display: flex;  
    justify-content: center;
}