#functorTitle{
    font-size: 4vw;
    font-family: 'Orbitron', sans-serif;
}

.functorContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.functorField{
    margin-top: 3vw;
    font-size: 1vw;
    width: 15vw;
    border-radius: 0.2cm;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: rgba(255, 255, 255, 0.644);
    border: 2px solid black;
}

#field{
    height: 3vw;
    background-color: white;
}

#button {
    margin-top: 1vw;
}